body{
    margin: 0;
    padding: 0;
    background-color: #1E3448;
}

button{
    background-color: #005AE2;
    color: #fff;
    border: #005AE2 solid 2px;
    border-radius: 25px;
    padding: 8px 150px 8px 150px;
    margin-top: 30px;
}

.form{
    width: 380px;
    height: 280px;
    padding: 20px 20px 20px 20px;
    border: #fff solid 2px;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#domain{
    color: #005AE2;
    border: #005AE2 solid 2px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

input{
    border: #005AE2 solid 2px;
    border-radius: 10px;
    padding: 5px 10px 10px 5px;
    margin-bottom: 20px;
    color: #005AE2;
}

.rightwave{
    float: right;
    padding-top: 370px;
}
