body{
    margin: 0;
    padding: 0;
    padding-left: 150px;
    padding-right: 150px;
    background-image: url(../asets/Faqwave.png) ;
    background-repeat: no-repeat;
}

.faq{
    display: flex;
    padding-left: 450px;
}

.minus{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.plus{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: #D6D6D6 solid 1px;
}

.plus1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: #D6D6D6 solid 1px;
    border-top: #D6D6D6 solid 1px;
}