body{
    margin: 0;
    padding: 0;
}

.stop{
    background-color: rgba(0, 90, 226, 0.1);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: top;
    padding: 60px 140px 60px 140px;
}

.stop1{
    line-height: 20px;
}

.stop3{
    width: 100px;
}

.stop4{
    width: 150px;
}

.choice{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 46px;
    padding: 60px 140px 60px 140px;
}
.choice1{
    width: 720px;
}

.choice2{
    width: 680px;
}

.choice3{
    width: 700px;
}